body {
  background-color: lightgreen;
  color: white;
  font 
  font-size: 36px;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

h1 {

}

form {
  border: 5px solid black;
    margin: auto;
}
