body {
  background-color: lightgreen;
  color: white;
  font-family: "InputMono-bold", monospace;
  font-size: calc(1rem + 5vmin);
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  background-blend-mode: color-burn;
  margin: auto;
}

h1 {
  display: flex;
  flex-direction: column;
}

header,
form {
  color: white;
  background-color: black;
  border: 10px solid black;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
}
